html, body {
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
} 
body{
	background-image:url(fundo.jpg);
}
.minhafoto {
	width: 250px;
	border-radius: 50%
}
h1, p {
	color: #D3D3D3;
	display: flex;
	justify-content: center;
	align-items: center;
}
.workplace {
	max-height: 70px;
}
.whats {
	max-height: 70px;
}
.git {
	max-height: 70px;
}
.fb {
	max-height: 70px;
	border-radius: 100px;
}